@use 'src/styles/variables' as *;
@use 'src/styles/mixins' as *;

.board {
  position: relative;
  height: 130px;
  border: 1px solid $secondary-color;
  padding: 10px;
  border-radius: 15px;

  @include btn__action('remove', 8px, 8px, 15px);
}

@include tooltip;
