@use './variables' as *;

@mixin button {
  button {
    width: 100%;
    padding: 10px;
    background-color: $primary-background;
    border: 1px solid $primary-background;
    color: $primary-color;
    font-size: 16px;
    border-radius: 5px;
    text-align: left;
  }

  button:hover {
    cursor: pointer;
    background-color: $secondary-background;
    border: 1px solid $primary-color;
  }
}

@mixin error {
  .error p {
    margin: 0;
    color: red;
    font-size: 12px;
  }
}

@mixin tooltip {
  .tooltip {
    background-color: $secondary-background;
    color: $primary-color;
  }
}
