@use 'src/styles/variables' as *;
@use 'src/styles/mixins' as *;

.home {
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
}

.container {
  display: grid;
  justify-self: center;
  grid-template-columns: 180px 180px 180px 180px 180px;
  grid-template-rows: repeat(auto-fill, minmax(130px, 1fr));
  gap: 10px;
  justify-content: center;

  @include onLargeDesktop {
    grid-template-columns: 180px 180px 180px 180px 180px;
  }

  @include onSmallDesktop {
    grid-template-columns: 180px 180px 180px 180px;
  }

  @include onLargeTablet {
    grid-template-columns: 180px 180px 180px;
  }

  @include onSmallTablet {
    grid-template-columns: 180px 180px;
  }

  @include onMobile {
    grid-template-columns: 180px;
  }
}

.board_add {
  width: 180px;
  height: 150px;
  padding: 10px;
  border-radius: 20px;
  color: $secondary-color;
  background-color: #f0f0f0;
  border: 1px solid $secondary-color;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}
