@use 'src/styles/variables' as *;
@use 'src/styles/mixins' as *;

@include btn__action('remove');

.list {
  display: flex;
  flex-direction: column;
  min-width: 260px;
  position: relative;
  background-color: $primary-background;
  color: $primary-color;
  border: 1px solid $primary-background;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;

  @include tooltip;
}

.list_title {
  margin: 6px 24px 6px 6px;
  display: flex;
  flex-direction: column;
  border: 1px solid $primary-background;

  & input {
    padding: 5px;
    font-size: 16px;
    font-weight: bold;
    display: block;
    border: none;
    color: $primary-color;
  }
}

@include error;

.list_title_readonly input {
  cursor: pointer;
  background-color: transparent;
}

.list_title_write input {
  background-color: $primary-background-element;
}
