@use 'src/styles/variables' as *;
@use 'src/styles/mixins' as *;

@include btn__action('remove', 10px, 3px, 15px);
@include tooltip;
@include error;

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 5px;
  font-size: 16px;
  border: 1px solid $primary-background-element;
  background-color: $primary-background-element;
  justify-content: center;

  & a {
    display: flex;
    flex-direction: column;

    & input {
      padding: 10px;
      border-radius: 5px;
      color: $primary-color;
      border-color: transparent;
      background-color: transparent;

      backdrop-filter: blur(2px);
    }
  }


  &:hover {
    border: 1px solid $primary-color;
  }
}

.card_readonly input {
  display: block;
  border: none;
  cursor: pointer;
}

.card_edit {
  display: flex;
}
