@use 'src/styles/mixins' as *;

.board-title {
  display: flex;
  flex-direction: column;

  input {
    padding: 10px;
    text-align: center;
  }

  @include error;
}

.board-title-readonly input {
  display: block;
  font-size: 2em;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.board-title-edit input {
  padding: 5px;
  font-size: 2em;
  font-weight: bold;
}

.board-title-create input {
  text-align: left;
}
